<?xml version="1.0"?>
<skin>

<Description>
	Tux Skin by Steels
	Based on Everaldo's Crystal Icons.
	Contact:
	steels@steels.no-ip.com
	ese_waly@hotmail.com (msn)
	http://steels.no-ip.com
	Version 1.0
</Description>

<Colors>
	<Background1>#EFEFEF</Background1>
	<Background2>#CCCCCC</Background2>
</Colors>

<smileys>

	<size>
		<smilew>22 </smilew>
		<smileh>22 </smileh>
	</size>

	<emoticon>
		<name> Smiley </name>
		<text> ":)" </text>
		<text> ":-)" </text>
		<file> regular_smile.gif </file>
	</emoticon>

	<emoticon>
		<name> Winking smiley </name>
		<text> ";)" </text>
		<text> ";-)" </text>
		<file> wink_smile.gif </file>
		<animated> yes </animated>
	</emoticon>

	<emoticon>
		<name> Open-mouthed smiley </name>
		<text> ":D" </text>
		<text> ":-D" </text>
		<text> ":>" </text>
		<text> ":->" </text>
		<file> teeth_smile.gif </file>
	</emoticon>

	<emoticon>
		<name> Smiley with tongue out </name>
		<text> ":P" </text>
		<text> ":-P" </text>
		<file> tongue_smile.gif </file>
	</emoticon>

	<emoticon>
		<name> Sad smiley </name>
		<text> ":(" </text>
		<text> ":-(" </text>
		<text> ":&lt;" </text>  
		<text> ":-&lt;" </text> 
		<file> sad_smile.gif </file>
	</emoticon>

	<emoticon>
		<name> Disappointed smiley </name>
		<text> ":|" </text>
		<text> ":-|" </text>
		<file> what_smile.gif </file>
	</emoticon>

	<emoticon>
		<name> Confused smiley </name>
		<text> ":S" </text>
		<text> ":-S" </text>
		<file> confused.gif </file>
	</emoticon>
<emoticon>
		<name> Party smiley </name>
		<text> "&lt;:o)" </text>
		<file> party.gif </file>
		<animated> yes </animated>
	</emoticon>
	<emoticon>
		<name> Surprised smiley </name>
		<text> ":O" </text>
		<text> ":-O" </text>
		<file> omg.gif </file>
	</emoticon>

	<emoticon>
		<name> Crying smiley </name>
		<text> ":'(" </text>
		<file> cry.gif </file>
		<animated> 1 </animated>
	</emoticon>

	<emoticon>
		<name> Angry smiley </name>
		<text> ":@" </text>
		<text> ":-@" </text>
		<file> angry.gif </file>
	</emoticon>

	<emoticon>
		<name> Baring teeth smiley </name>
		<text> "8o|" </text>
		<file> baring_teeth.gif </file>
	</emoticon>

	<emoticon>
		<name> Embarrassed smiley </name>
		<text> ":$" </text>
		<text> ":-$" </text>
		<file> red.gif </file>
	</emoticon>

	<emoticon>
		<name> Don't tell anyone smiley </name>
		<text> ":-#" </text>
		<file> dont_tell.gif </file>
	</emoticon>

	<emoticon>
		<name> Secret telling smiley </name>
		<text> ":-*" </text>
		<file> secret.gif </file>
	</emoticon>

	<emoticon>
		<name> I don't know smiley </name>
		<text> ":^)" </text>
		<file> dont_know.gif </file>
		<animated> yes </animated>
	</emoticon>

	<emoticon>
		<name> Nerd smiley </name>
		<text> "8-|" </text>
		<file> nerd.gif </file>
	</emoticon>

	<emoticon>
		<name> Eye-rolling smiley </name>
		<text> "8-)" </text>
		<file> roll.gif </file>
		<animated> 1 </animated>
	</emoticon>

	<emoticon>
		<name> Sleepy smiley </name>
		<text> "|-)" </text>
		<file> sleepy.gif </file>
		<animated> 1 </animated>
	</emoticon>

	<emoticon>
		<name> Sick smiley </name>
		<text> "+o(" </text>
		<file> sick.gif </file>
	</emoticon>

	<emoticon>
		<name> Thinking smiley </name>
		<text> "*-)" </text>
		<file> thinking.gif </file>
		<animated> 1 </animated>
	</emoticon>
	
	<emoticon>
		<name> Sarcastic smiley </name>
		<text> "^o)" </text>
		<file> sarcastic.gif </file>
	</emoticon>

	<emoticon>
		<name> Hot smiley </name>
		<text> "(h)" </text>
		<file> shades.gif </file>
	</emoticon>

	

	<emoticon>
		<name> Angel smiley </name>
		<text> "(a)" </text>
		<file> angel_smile.gif </file>
	</emoticon>

	<emoticon>
		<name> BSD Beasty (Devil smiley)</name>
		<text> "(6)" </text>
		<file> devil_smile.gif </file>
	</emoticon>

	<emoticon>
		<name> Red heart </name>
		<text> "(l)" </text>
		<file> heart.gif </file>
	</emoticon>

	<emoticon>
		<name> Broken heart </name>
		<text> "(u)" </text>
		<file> broken_heart.gif </file>
	</emoticon>

	<emoticon>
		<name> Red lips </name>
		<text> "(k)" </text>
		<file> kiss.gif </file>
	</emoticon>

	<emoticon>
		<name> Red rose </name>
		<text> "(f)" </text>
		<file> rose.gif </file>
	</emoticon>

	<emoticon>
		<name> Wilted rose </name>
		<text> "(W)" </text>
		<file> wilted_rose.gif </file>
	</emoticon>

	<emoticon>
		<name> Beer mug </name>
		<text> "(b)" </text>
		<file> beer_mug.gif </file>
	</emoticon>

	<emoticon>
		<name> Cocktail glass </name>
		<text> "(D)" </text>
		<file> martini.gif </file>
	</emoticon>

	<emoticon>
		<name> Coffee cup </name>
		<text> "(C)" </text>
		<file> coffee.gif </file>
	</emoticon>

	<emoticon>
		<name> Birthday cake </name>
		<text> "(^)" </text>
		<file> cake.gif </file>
		<animated> true </animated>
	</emoticon>

	<emoticon>
		<name> Dinner plate </name>
		<text> "(pl)" </text>
		<file> plate.gif </file>
	</emoticon>

	<emoticon>
		<name> Pizza </name>
		<text> "(pi)" </text>
		<file> pizza.gif </file>
	</emoticon>

	<emoticon>
		<name> Bowl </name>
		<text> "(||)" </text>
		<file> bowl.gif </file>
		<hiden> 1 </hiden>
	</emoticon>

	<emoticon>
		<name> Telephone receiver </name>
		<text> "(t)" </text>
		<file> phone.gif </file>
	</emoticon>

	<emoticon>
		<name> Mobile Phone </name>
		<text> "(mp)" </text>
		<file> mobile_phone.gif </file>
	</emoticon>

	<emoticon>
		<name> Mail </name>
		<text> "(e)" </text>
		<file> envelope.gif </file>
	</emoticon>

	<emoticon>
		<name> Computer </name>
		<text> "(co)" </text>
		<file> computer.gif </file>
	</emoticon>

	<emoticon>
		<name> Clock </name>
		<text> "(o)" </text>
		<file> clock.gif </file>
	</emoticon>

	<emoticon>
		<name> Camera </name>
		<text> "(p)" </text>
		<file> camera.gif </file>
	</emoticon>

	<emoticon>
		<name> Film Strip </name>
		<text> "(~)" </text>
		<file> film.gif </file>
	</emoticon>

	<emoticon>
		<name> Light bulb </name>
		<text> "(i)" </text>
		<file> lightbulb.gif </file>
	</emoticon>

	<emoticon>
		<name> Umbrella </name>
		<text> "(um)" </text>
		<file> umbrella.gif </file>
	</emoticon>

	<emoticon>
		<name> Money </name>
		<text> "(mo)" </text>
		<file> money.gif </file>
	</emoticon>

	<emoticon>
		<name> Gift with bow </name>
		<text> "(g)" </text>
		<file> present.gif </file>
	</emoticon>

	<emoticon>
		<name> Automobile </name>
		<text> "(au)" </text>
		<file> auto.gif </file>
	</emoticon>

	<emoticon>
		<name> Airplane </name>
		<text> "(ap)" </text>
		<file> airplane.gif </file>
	</emoticon>

	<emoticon>
		<name> Soccer Ball </name>
		<text> "(so)" </text>
		<file> soccer.gif </file>
	</emoticon>

	<emoticon>
		<name> Musical eighth note </name>
		<text> "(8)" </text>
		<file> note.gif </file>
	</emoticon>

	<emoticon>
		<name> Star </name>
		<text> "(*)" </text>
		<file> star.gif </file>
	</emoticon>

	<emoticon>
		<name> Half-moon </name>
		<text> "(s)" </text>
		<file> moon.gif </file>
	</emoticon>

	<emoticon>
		<name> Stormy </name>
		<text> "(st)" </text>
		<file> stormy.gif </file>
	</emoticon>

	<emoticon>
		<name> Lightning </name>
		<text> "(li)" </text>
		<file> lightning.gif </file>
		<animated> yes </animated>
	</emoticon>

	<emoticon>
		<name> Island with palm tree </name>
		<text> "(ip)" </text>
		<file> island_palm.gif </file>
	</emoticon>

	<emoticon>
		<name> Dog </name>
		<text> "(&amp;)" </text>
		<file> dog.gif </file>
	</emoticon>

	<emoticon>
		<name> Cat </name>
		<text> "(@)" </text>
		<file> cat.gif </file>
	</emoticon>

	<emoticon>
		<name> Snail </name>
		<text> "(sn)" </text>
		<file> snail.gif </file>
	</emoticon>

	<emoticon>
		<name> Black Sheep </name>
		<text> "(bah)" </text>
		<file> black_sheep.gif </file>
	</emoticon>

	<emoticon>
		<name> Vampire bat </name>
		<text> ":-[" </text>
		<text> ":[" </text>
		<file> bat.gif </file>
		<animated> 1 </animated>
	</emoticon>

	<emoticon>
		<name> Tux (MSN Messenger icon) </name>
		<text> "(m)" </text>
		<file> messenger.gif </file>
	</emoticon>

	<emoticon>
		<name> Dude hug </name>
		<text> "({)" </text>
		<file> guy_hug.gif </file>
	</emoticon>

	<emoticon>
		<name> Boy </name>
		<text> "(Z)" </text>
		<file> guy.gif </file>
	</emoticon>

	<emoticon>
		<name> Girl hug </name>
		<text> "(})" </text>
		<file> girl_hug.gif </file>
	</emoticon>

	<emoticon>
		<name> Girl </name>
		<text> "(x)" </text>
		<file> girl.gif </file>
	</emoticon>

	<emoticon>
		<name> Agree (Thumbs up) </name>
		<text> "(y)" </text>
		<file> thumbs_up.gif </file>
	</emoticon>

	<emoticon>
		<name> Disagree (Thumbs down) </name>
		<text> "(n)" </text>
		<file> thumbs_down.gif </file>
	</emoticon>

	<emoticon>
		<name> Wu-Tang Logo </name>
		<text> "(WU)" </text>
		<file> wu.gif </file>
		<hiden> 1 </hiden>
		<casesensitive> true </casesensitive>
	</emoticon>

	<emoticon>
		<name> Hahaha </name>
		<text> "xD" </text>
		<file> hahaha.gif </file>
		<animated> 1 </animated>
	</emoticon>

	<emoticon>
		<name> fingerscrossed not in msn webpage </name>
		<text> "(yn)" </text>
		<file> fingerscrossed.gif </file>
		<hiden> 1 </hiden>
	</emoticon>

	<emoticon>
		<name> hifive not in msn webpage </name>
		<text> "(h5)" </text>
		<file> hifive.gif </file>
		<hiden> 1 </hiden>
	</emoticon>

  	<emoticon>
		<name> turtle not in msn webpage </name>
		<text> "(tu)" </text>
		<file> turtle.gif </file>
	</emoticon>
 
 <emoticon>
		<name> smilec not in msn webpage </name>
		<text> ":`(" </text>
		<file> smilec.gif </file>
	</emoticon>

  <emoticon>
		<name> brb not in msn webpage</name>
		<text> "(brb)" </text>
		<file> brb.gif </file>
	<animated> 1 </animated>
	</emoticon>

	<emoticon>
		<name> handcuffs not in msn webpage</name>
		<text> "(%)" </text>
		<file> handcuffs.gif </file>
	</emoticon>


  <emoticon>
		<name> game console (msn xbox) (not in msn webpage) </name>
		<text> "(xx)" </text>
		<file> console.gif </file>
	<hiden> 1 </hiden>
	</emoticon>


	<emoticon>
		<name> joint (msn cigarette) not in msn webpage</name>
		<text> "(ci)" </text>
		<file> cigarette.gif </file>
		<animated> yes </animated>
	</emoticon>

	<emoticon>
		<name> asl not in msn webpage </name>
		<text> "(?)" </text>
		<file> asl.gif </file>
	</emoticon>

	<emoticon>
		<name> Rainbow not in msn webpage </name>
		<text> "(r)" </text>
		<file> rainbow.gif </file>
	</emoticon>

	<emoticon>
		<name> Sun not in msn webpage</name>
		<text> "(#)" </text>
		<file> sun.gif </file>
	</emoticon>

</smileys>

</skin>
